*.pyc
*.swp
pcs.spec
/MANIFEST
/dist/
/pcsd/logrotate/pcsd
pcs/snmp/pcs_snmp_agent
pcs/snmp/settings.py
pcs/snmp/pcs_snmp_agent.service
/pcsd/pcsd.service
/pcsd/pcsd-ruby.service
/pcs_bundled/
/.bundle
/pcsd/vendor
/pcsd/public/ui
/Gemfile*
/scripts/pcsd.sh
pcs.pc
pcs-*
.mypy_cache/
requirements.txt
setup.py
setup.cfg
pcs/api_v2_client
pcs_test/api_v2_client
pcs/pcs
pcs/pcs_internal
pcs/settings.py
pcs_test/pcs_for_tests
pcs_test/settings.py
pcs_test/suite
pcs_test/smoke.sh
pcs_test/tools/bin_mock/pcmk/crm_resource
pcs_test/tools/bin_mock/pcmk/pacemaker_metadata
pcs_test/tools/bin_mock/pcmk/pacemaker-fenced
pcs_test/resources/*.tmp
pcs_test/resources/temp*.xml
pcs_test/resources/temp*
*.8

pcsd/capabilities.xml
pcsd/pcsd
pcsd/pcsd-cli.rb
pcsd/rserver.rb
pcsd/settings.rb
build/
*.egg-info

rpm/*.gem
rpm/*.tar*
rpm/*.rpm

stamps*

aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
install-sh
ltmain.sh
missing
Makefile
Makefile.in
config.log
config.status
libtool
m4/lt*
m4/lib*
.version
typos_new
