*.pyc
*.swp
pcs.spec
/MANIFEST
/dist/
/pcsd/logrotate/pcsd
pcs/snmp/pcs_snmp_agent
pcs/snmp/settings.py
pcs/snmp/pcs_snmp_agent.service
/pcsd/pcsd.service
/pcsd/pcsd-ruby.service
/pcs/bundled/
/.bundle
/pcsd/vendor
/pcsd/public/ui
/Gemfile*
/rpm_build/
pcs-*.tar.*
.mypy_cache/
requirements.txt
newversion.py
setup.py
setup.cfg
pcs/pcs
pcs/pcs_internal
pcs/cluster.py
pcs/common/system.py
pcs/lib/external.py
pcs/settings_default.py
pcs/utils.py
pcs_test/pcs_for_tests
pcs_test/suite.py
pcs_test/smoke.sh
pcs_test/tools/bin_mock/pcmk/crm_resource
pcs_test/tier0/lib/corosync/test_live.py
pcs_test/tier0/lib/pacemaker/test_live.py
pcs_test/tier0/lib/test_external.py
pcs_test/tier0/lib/test_resource_agent.py
pcs_test/tier0/lib/corosync/test_qdevice_client.py
pcs_test/tier0/lib/corosync/test_qdevice_net.py
pcs_test/tier1/test_booth.py
pcs_test/resources/*.tmp
pcs_test/resources/temp*.xml
pcs_test/resources/temp-*

pcsd/pcs.rb
pcsd/pcsd
pcsd/pcsd-cli.rb
pcsd/settings.rb
pcsd/remote.rb
pcsd/bootstrap.rb
build/
*.egg-info

aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
install-sh
ltmain.sh
missing
Makefile
Makefile.in
config.log
config.status
libtool
m4/lt*
m4/lib*
.version
