lxml-stubs
pylint==3.1.0
astroid==3.1.0
mypy==1.9.0
black==24.3.0
isort
types-cryptography
types-dataclasses
# later versions remove type annotations from a few functions causing
# error: Call to untyped function "getinfo" in typed context  [no-untyped-call]
# so we are stuck with this version until there's a fix
types-pycurl==7.45.2.20240311
types-python-dateutil
