@font-face {
    font-family: 'Liberation';
    src: url('LiberationSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation';
    src: url('LiberationSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


