    <script type="text/x-handlebars">
    <table cellpadding=0 cellspacing=0 style="float:left;">
      <tr>
	<th></th><th></th><th>NAME&nbsp;</th><th>TYPE</th><th></th>
      </tr>
	{{#each Pcs.resourcesController}}
	    <tr {{bindAttr onmouseover="onmouseover"}} {{bindAttr onmouseout="onmouseout"}} {{bindAttr class="trclass"}} {{bindAttr nodeID="name"}} onclick='Pcs.resourcesController.load_resource(this);'>

	    <td class="node_list_check">
            {{view Ember.Checkbox checkedBinding="checked" onclick="checked" class="node_list_check"}}
	    </td>
	    <td class="node_list_sprite">
	      <div class="check sprites"></div>
	    </td>
	    {{#if up}}
		<td class="resource_name">
	    {{else}}
		<td class="resource_name" style="color:red">
            {{/if}}
		{{name}}
	    </td>
	    <td class="resource_type">
		{{agentname}}
	    </td>
	    <td {{bindAttr style="showArrow"}}>
		<div class="arrow sprites"></div>
	    </td>
	    </tr>
	    {{/each}}
	</table>
    </script>
