[Unit]
Description=SNMP agent for pacemaker cluster
Documentation=man:pcs_snmp_agent(8)
Requires=snmpd.service

[Service]
EnvironmentFile=/etc/sysconfig/pcs_snmp_agent
ExecStart=/usr/lib/pcs/pcs_snmp_agent
Type=simple
TimeoutSec=500

[Install]
WantedBy=multi-user.target
