totem {
version: 2
secauth: off
cluster_name: @@cluster_name
transport: @@transport
@@totem_options
@@interfaceandrrpmode
@@ip_version
}

nodelist {
@@nodes}

quorum {
provider: corosync_votequorum
@@quorum_options
@@two_node
}

logging {
to_syslog: yes
}
