[Unit]
Description=PCS GUI and remote configuration interface

[Service]
EnvironmentFile=/etc/sysconfig/pcsd
Environment=GEM_HOME=/usr/lib/pcsd/vendor/bundle/ruby
ExecStart=/usr/lib/pcsd/pcsd > /dev/null &
Type=notify

[Install]
WantedBy=multi-user.target
