<tr id="acls_title_row" {{bind-attr style="Pcs.acls_page"}}><td id="page_header" colspan=3>
    ACLS
  </td>
</tr>
<tr><td>HI</td></tr>
<tr {{bind-attr style="Pcs.acls_page"}}><td class="borderbottom">&nbsp;</td><td class="borderbottom">&nbsp;</td></tr>
<tr id="acls_list_row" {{bind-attr style="Pcs.acls_page"}}>
  <td id="acls_roles_list" class="node_list">
    <table cellpadding=0 cellspacing=0 style="float:left;">
      <tr>
        <th><input type="checkbox" onchange="checkBoxToggle(this,false)"></th><th></th><th>ROLE&nbsp;NAME</th>
      </tr>
      {{#each role in Pcs.aclsController.role_list}}
      <tr {{bind-attr onmouseover="onmouseover"}} {{bind-attr onmouseout="onmouseout"}} {{bind-attr class="trclass"}} {{bind-attr nodeID="role"}} onclick='Pcs.aclsController.load_role(this);'>
        <td class="node_list_check">
          {{view Ember.Checkbox checkedBinding="checked" class="node_list_check"}}
        </td>
        <td class="node_list_sprite">
          <div class="check sprites"></div>
        </td>
        <td>{{role}}</td>
      </tr>
      {{/each}}

    </table>
  </td>
  <td id="acl_info" colspan=2>
    <table>
      <tr><td>Role Name:</td><td><input type="text" {{bind-attr value="Pcs.aclsController.cur_role.name"}}></td></tr>
      <tr><td>Role Description:</td><td><input type="text" {{bind-attr value="Pcs.aclsController.cur_role.description"}}></td></tr>
    </table>
    <table>
      <tr><td colspan=2 style="display: block;" onclick="show_hide_constraints(this)" class="datatable_header hover-pointer"><span style="" class="downarrow sprites"></span><span style="display: none;" class="rightarrow sprites"></span>Permissions ({{Pcs.aclsController.role_list.length}})</td></tr>
      <tr><td colspan=2>
          <div id="">
            <table class="datatable">
              <tr><th>Role Name</th><th>Description</th><th>Type</th><th>XPath/ID</th><th>Query/ID</th><th>Remove</th></tr>
              {{#each role in Pcs.aclsController}}
                {{#each perm in role.permissions}}
                  <tr>
                    <td>{{role.name}}</td>
                    <td>{{role.description}}</td>
                    <td>{{perm.type}}</td>
                    <td>{{perm.xpath_id}}</td>
                    <td>{{perm.query_id}}</td>
                    <td></td>
                  </tr>
                {{/each}}
              {{/each}}
              {{#unless Pcs.aclsController}}
                <tr><td style="color: gray;">NONE</td><td></td><td></td></tr>
              {{/unless}}
              <tr id="new_acl">
                <td><input type="text" name="role_id"></td>
                <td><input type="text"  name="role_description"></td>
                <td><select name="role_type"><option>read</option><option>write</option><option>deny</option></select></td>
                <td><select name="role_xpath_id"><option>XPath</option><option>ID</option></td>
                <td><input type="text" name="role_query_id"></td>
                <td><button type="button" onclick="" name="add">Add</button></td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      <tr><td colspan=2 style="display: block;" onclick="show_hide_constraints(this)" class="datatable_header hover-pointer"><span style="" class="downarrow sprites"></span><span style="display: none;" class="rightarrow sprites"></span>Users Assigned ({{#if Pcs.aclsController.cur_role.user_list}}{{Pcs.aclsController.cur_role.user_list.length}}{{else}}0{{/if}})</td></tr>
      <tr><td colspan=2>
          <div id="">
            <table class="datatable">
              <tr><th>User Name</th><th>Remove</th></tr>
              {{#each user in Pcs.aclsController.cur_role.user_list}}
                <tr>
                  <td>{{user}}</td>
                  <td></td>
                </tr>
              {{/each}}
              {{#unless Pcs.aclsController.cur_role.user_list}}
                <tr><td style="color: gray;">NONE</td></tr>
              {{/unless}}
              <tr id="new_acl">
                <td><input type="text" name="role_assign_user"></td>
                <td><button type="button" onclick="" name="add">Add</button></td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      <tr><td colspan=2 style="display: block;" onclick="show_hide_constraints(this)" class="datatable_header hover-pointer"><span style="" class="downarrow sprites"></span><span style="display: none;" class="rightarrow sprites"></span>Groups Assigned ({{#if Pcs.aclsController.cur_role.group_list}}{{Pcs.aclsController.cur_role.group_list.length}}{{else}}0{{/if}})</td></tr>
      <tr><td colspan=2>
          <div id="">
            <table class="datatable">
              <tr><th>Group</th><th>Remove</th></tr>
              {{#each group in Pcs.aclsController.cur_role.group_list}}
                <tr>
                  <td>{{group}}</td>
                  <td></td>
                </tr>
              {{/each}}
              {{#unless Pcs.aclsController.cur_role.group_list}}
                <tr><td style="color: gray;">NONE</td></tr>
              {{/unless}}
              <tr id="new_acl">
                <td><input type="text" name="role_assign_user"></td>
                <td><button type="button" onclick="" name="add">Add</button></td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr>
