<form method=post action="/manage/removecluster">
  <table cellpadding=0 cellspacing=0 style="float:left; width: 100%;">
    <tr>
      <th style="width: 20%; padding-left: 5px;" nowrap>Clusters #</th>
      <th style="width: 20%;">OK <div class="check sprites"></div></th>
      <th style="width: 20%;">Warning<div class="warning sprites"></div></th>
      <th style="width: 20%;">Failed<div class="error sprites"></div></th>
      <th style="width: 20%;">Unknown<div class="x sprites"></div></th>
    </tr>
    <tr>
      <td style="padding-left: 5px;">{{ Pcs.clusterController.content.length }}</td>
      <td style="padding-left: 5px;">{{ Pcs.clusterController.num_ok }}</td>
      <td style="padding-left: 5px;">{{ Pcs.clusterController.num_warning }}</td>
      <td style="padding-left: 5px;">{{ Pcs.clusterController.num_error }}</td>
      <td style="padding-left: 5px;">{{ Pcs.clusterController.num_unknown }}</td>
    </tr>
  </table>
  <table cellpadding=0 cellspacing=0 style="float:left;" id="clusters_list">
    <tr>
      {{#if Pcs.clusterController.content.length}}
      <th></th><th></th><th>NAME</th><th>NODES</th><th style="padding-right: 50px;">RESOURCES</th><th style="padding-right: 16px;"></th>
      {{/if}}
    </tr>
    {{#each Pcs.clusterController }}
    <tr onmouseover="hover_over(this);" onmouseout="hover_out(this);" onclick="Pcs.clusterController.update_cur_cluster(this);" {{bind-attr nodeID="this.name"}}>
    <td class="node_list_check">
      <input class="node_list_check" type="checkbox" {{bind-attr name="input_name"}} {{bind-attr res_id="name"}}>
    </td>
    <td>
      {{{status_icon}}}
    </td>
    <td nowrap class="resource_name">
      <a {{bind-attr href=url_link}}>{{name}}</a>
    </td>
    <td nowrap class="resource_type">
      {{nodes.length}}
      {{#if nodes_failed}}
      | <div style="display: inline-block;" title="Issue(s) found"><div class="warning sprites"></div> <span style="font-weight: bold; color: red">{{nodes_failed}}</span></div>
      {{/if}}
    </td>
    <td nowrap class="resource_type">
      {{#if status_unknown}}
        unknown
      {{else}}
        {{resources.length}}
        {{#if resources_failed}}
      | <div style="display: inline-block;" title="Issue(s) found"><div class="warning sprites"></div> <span style="font-weight: bold; color: red">{{resources_failed}}</span></div>
        {{/if}}
      {{/if}}
    </td>
    <td>
      <div style="display:none" class="arrow sprites"></div>
    </td>
    </tr>
    {{/each}}
  </table>
</form>
