<tr id="configure_title_row" {{bind-attr style="Pcs.configure_page"}}><td id="page_header" colspan=3>
    <table id="config_options"><tr>
	<td>CLUSTER PROPERTIES</td>
	<!--
	    <td class="configure-general"><a href="/configure/general">General</a></td>
	    <td class="configure-pacemaker"><a href="/configure/pacemaker">Pacemaker</a></td>
	    <td class="configure-network"><a href="/configure/network">Network</a></td>
	    <td class="configure-resource"><a href="/configure/resource">Resource</a></td>
	    <td class="configure-logging"><a href="/configure/logging">Logging</a></td>
-->
    </tr></table>
  </tr>
  <tr id="configure_header_row" {{bind-attr style="Pcs.configure_page"}}><td colspan=3>
      <hr>
  </td></tr>
  <tr id="configure_list_row" {{bind-attr style="Pcs.configure_page"}}>
    <td id="config" colspan=3>
      <form>
	<% @config_options.each { |page, options| %>
	  <table>
	    <% options.each {|co| %>
              <tr title="<%= h(co.desc)%>">
		<td class="label"><%= co.name %>:</td>
		<td><%= co.html %><span class="units"><%= co.units %></span></td>
	      </tr>
	    <% } %>
	  </table>
	<br>
      <% } %> 
	<% if @config_options.length != 0 %>
	  <input type=submit style="margin-left:20px;" class="text_field" onclick="update_cluster_settings($(this).parent('form')); return false;" value="Apply Changes">
      <% end %>
      </form>
    </td>
  </tr>
  <tr><td colspan=3>
      <hr>
  </td>
</tr>
