<div id="auth_nodes" style="display:none;">
  <form id="auth_nodes_form">
    Enter password for user 'hacluster' to authenticate nodes.<br>
    Nodes to authenticate:
    <table class="err_msg_table" style="width: 100%">
      <tr><td align=center style="color: red" colspan=2"><span id="auth_failed_error_msg" style="display:none;">Authentication on some nodes failed.</span></td></tr>
    </table>
    <table id="auth_nodes_list">
    </table>
    <div id="same_pass"><label><input type="checkbox" name="all" onchange="if ($(this).is(':checked')) {$('#auth_nodes_list').find('input:password').each(function(){$(this).hide()}); $('#pass_for_all').show();} else {$('#auth_nodes_list').find('input:password').each(function(){$(this).show()}); $('#pass_for_all').hide();}"> Use same password for all nodes:</label>
      <input type="password" name="pass-all" id="pass_for_all" style="display: none;"></div>
  </form>
</div>

<div id="dialog_verify_remove_clusters" style="display: none;">
  <p style="font-size:12px;">Are you sure you want to remove the following cluster(s) from the GUI? (This only removes the cluster from the GUI, it does not stop the cluster from running.)</p>
  <span class="name_list"></span>
</div>

<div id="dialog_verify_remove_nodes" style="display:none;">
  <p style="font-size:12px;">Are you sure you want to remove the following nodes(s)?</p>
  <span class="name_list"></span>
  {{#if Pcs.is_cman_with_udpu_transport}}
    <p style="color: orange">This is a CMAN cluster with UDPU transport, cluster restart is required to apply node removal.</p>
  {{/if}}
</div>

<div id="dialog_verify_remove_resources" style="display: none;">
  <p style="font-size:12px;">Are you sure you want to remove the following resource(s)?</p>
  <span class="name_list"></span>
  <input type="checkbox" name="force">
  Enforce removal (Remove the resources without stopping them first.)
</div>

<div id="dialog_verify_remove_acl_roles" style="display:none;">
  <p style="font-size:12px;">Are you sure you want to remove the following ACL role(s)?</p>
  <span class="name_list"></span>
</div>
