    <table cellpadding=0 cellspacing=0 style="float:left;">
      <tr>
      <th><input type="checkbox" onchange="checkBoxToggle(this,false)"></th><th></th><th>NAME&nbsp;</th><th>TYPE</th><th></th>
      </tr>
	{{#each Pcs.resourcesController}}
	<% if @myView == "resource" %>
            {{#unless stonith}}
	<% else %>
            {{#if stonith}}
        <% end %>
	    <tr {{bind-attr onmouseover="onmouseover"}} {{bind-attr onmouseout="onmouseout"}} {{bind-attr class="trclass"}} {{bind-attr nodeID="name"}} onclick='Pcs.resourcesController.load_<%=@myView%>(this);'>

	    <td class="node_list_check">
            {{view Ember.Checkbox checkedBinding="checked" class="node_list_check"}}
	    </td>
	    <td class="node_list_sprite">
	      <div class="check sprites"></div>
	    </td>
	    <td class="resource_name" {{bind-attr style="resource_name_style"}} nowrap>
		{{full_name}}
		{{#if group}}
		({{group}})
		{{/if}}
	    </td>
	    <td class="resource_type">
		{{agentname}}
	    </td>
	    <td>
		<div {{bind-attr style="showArrow"}} class="arrow sprites"></div>
	    </td>
	    </tr>
	<% if @myView == "resource" %>
            {{/unless}}
	<% else %>
            {{/if}}
        <% end %>
	{{/each}}
    </table>
